@model Asklepios.Web.Areas.PatientArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}

<h1 >
    Pulpit pacjenta
</h1>

@{
    List<Visit> dashboardObjects = Model.DashboardItems;

    for (int i = 0; i < dashboardObjects.Count; i++)
    {
        Visit visit = dashboardObjects[i];
        <partial name="_DashboardItem" model="visit" />

    }
}
