@model List<MedicalWorker>
    @{
        ViewData["Title"] = "View";
    }

    <h1 style="text-align:center">Ranking pracowników medycznych</h1>

    @for (int i = 0; i < Model.Count; i++)
    {
        MedicalWorker med = Model[i];
        <partial name="_MedicalWorker" model="med" />

    }
