@model Asklepios.Web.Areas.PatientArea.Models.VisitViewModel
@{
    ViewData["Title"] = "View";
}

<partial name="_AvailableVisit" model="@Model.Visit" />


<div class="messages" style="text-align: center ">
    <p class="alert alert-danger">
        Nie posiadasz wymaganego skierowania dla wybranej wizyty!
    </p>
</div>

