@model Asklepios.Web.Areas.PatientArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}


@if (Model.Prescriptions != null)
{
    List<Prescription> prescriptions=Model.Prescriptions.ToList();

    <h1 style="text-align:center">Recepty</h1>

    @foreach (var prescription in prescriptions)
    {

        <partial name="_Prescription" model="prescription" />
    }
}
else
{
    <h1>Brak wystawionych recept</h1>

}
