@model Asklepios.Web.Areas.PatientArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
        List<MedicalReferral> list = Model.GetReferrals();

}


@if (list?.Count > 0)
{
    <h1 style="text-align:center">Skierowania</h1>

    @*@foreach (var referrals in Model.Patient.MedicalReferrals)
    {

        <partial name="_MedicalReferral" model="referrals" />
    }*@
    for (int i = 0; i < list.Count; i++)
    {
        MedicalReferral referral = list.ElementAt(i);
        <partial name="_MedicalReferral" model="referral" />
    }
}
else
{
    <h1>Brak wystawionych skierowań</h1>

}
