@model Asklepios.Web.Areas.HomeArea.Models.ContactMessageViewModel
    <div class="container modal-dialog-centered">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>Formularz kontaktowy</h2>
                </div>
                <div class="col-md-5 contact-info text-left">
                    <h3>Informacje kontaktowe</h3>
                    <div class="info-detail">
                        <ul><li><i class="fa fa-calendar"></i><span>Poniedziałek - Piątek:</span> 8:00 -16:00 </li></ul>
                        <ul><li><i class="fa fa-map-marker"></i><span>Adres:</span> Aleje Jerozolimskie 120, Warszawa, 01-111</li></ul>
                        <ul><li><i class="fa fa-phone"></i><span>Telefon:</span> 25-40-40-12-35</li></ul>
                        <ul><li><i class="fa fa-envelope"></i><span>Email:</span> kontakt@asklepios.com</li></ul>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 contact-form">
                    <h3>Prześlij wiadomość</h3>

                    <form class="form" asp-action="Contact" method="post">
                        <span asp-validation-for="ContactName" class="text-danger pt-5 mt-5" style="font-size:large;color:orange"></span>

                        <input class="name mb-0 pb-0" type="text" placeholder="Imie i nazwisko" asp-for="ContactName">
                        <span asp-validation-for="ContactEMailAddress" class="text-danger" style="font-size: large; color: orange"></span>

                        <input class="email" type="email" placeholder="Email" asp-for="ContactEMailAddress">
                        <span asp-validation-for="PhoneNumber" class="text-danger" style="font-size: large; color: orange"></span>

                        <input class="phone" type="tel" placeholder="Numer telefonu:" asp-for="PhoneNumber">
                        <span asp-validation-for="Subject" class="text-danger" style="font-size: large; color: orange"></span>

                        <input class="person-detail" type="text" placeholder="Temat:" asp-for="Subject">

                        <span asp-validation-for="Message" type="text" class="text-danger" style="font-size: large; color: orange"></span>

                        <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Wiadomość" asp-for="Message"></textarea>

                        <input class="submit-btn w-100" type="submit" value="Wyślij">

                    </form>
                </div>
            </div>
            @if (Model.HasInfoMessage)
            {
                if (Model.AlertMessageType == Asklepios.Web.Enums.AlertMessageType.Info)
                {
                    <div>
                        <div class="messages" style="margin-top: 10px; text-align: center">
                            <p class="alert alert-success" style="font-size:large">
                                @Model.AlertMessage
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <div class="messages" style="margin-top:10px;text-align:center">
                            <p class="alert alert-warning" style="font-size:large">
                                @Model.AlertMessage
                            </p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
