<div class="container">
    <div class="row">
        <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="header-backup"></div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="carousel" style="border-radius:6px">
                <div class="item active">
                    <img src="~/img/slide-one.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Kompleksowe</h1>
                        <p style="font-size:xx-large">Usługi medyczne dla kobiet i mężczyzn</p>
                        <button onclick="window.location.href='#Uslugi';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/szczepienie.png" alt="">
                    <div class="carousel-caption">
                        <h1>Szczepienia</h1>
                        <p style="font-size:xx-large">Przeciwko Covid-19</p>
                        <button onclick="window.location.href='#SzczepieniaC19';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide-two.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Profilaktyka</h1>
                        <p style="font-size:xx-large">badania profilaktyczne dopasowane do Twoich potrzeb</p>
                        <button onclick="window.location.href='#Profilaktyka';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/lab_h.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Laboratorium</h1>
                        <p style="font-size:xx-large">Bardzo szeroki wybór badań</p>
                        <button onclick="window.location.href='#Laboratorium';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide-four.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Szpitale</h1>
                        <p style="font-size:xx-large">Najwyższej jakości operacje ortopedyczne </p>
                        <button onclick="window.location.href='#Szpitale';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/rehabilitation.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Rehabilitacja</h1>
                        <p style="font-size:xx-large">Pomożemy Ci wrócić do pełnej sprawności</p>
                        <button onclick="window.location.href='#Rehabilitacja';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/stomatologia_h.jpg" alt="">
                    <div class="carousel-caption" >
                        <h1>Stomatologia</h1>
                        <p style="font-size:xx-large">Kompleksowe usługi stomatologiczne</p>

                        <button onclick="window.location.href='#Stomatologia';">Dowiedz się więcej</button>
                    </div>
                </div>
                <div class="item" >
                    <img src="~/img/radiologia_h.jpg" alt="">
                    <div class="carousel-caption" >
                        <h1>Radiologia</h1>
                        <p style="font-size:xx-large">Diagnostyka obrazowa na najwyższym poziomie
                        </p>
                        <button onclick="window.location.href='#Radiologia';">Dowiedz się więcej</button>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <section class="row" id="Uslugi" style="margin-top:40px; scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">

                <div class="col-xs-8">
                    <h2>Kompleksowe usługi</h2>
                    <p class="lead">W naszej sieci medycznej oferujemy pełną ofertę usług medycznych.</p>
                    <p> Boli Cię głowa? Podejrzewasz złamanie nadgarstka? Chcesz wykonać badania profilaktyczne? Masz duszności? Czujesz się wiecznie przemęczony? Chcesz zadbać o swoje uzębienie? Wypadają Ci włosy? Nasi specjaliści wszystkim sie zajmą!</p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/uslugi.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="SzczepieniaC19" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="col-xs-8">
                    <h2>Szczepienia</h2>
                    <p class="lead">Oferujemy pełny wachlarz szczepień.</p>
                    <p>Możesz się u nas zaszczepić przeciwko Covid-19, przeciw grypie, wykonać szczepienia obowiązkowe dla dzieci, a także szczepienia przeciwko chorobom tropikalnym. Przed każdym szczepieniem zostaje wykonany wywiad z apcjentem, aby upewnić się, że nie ma żadnych przeciwskazań w kierunku szczepienia.</p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/vac_s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="Profilaktyka" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">

                <div class="col-xs-8">
                    <h2>Profilaktyka</h2>
                    <p class="lead">
                        Przeglądy stanu zdrowia dopasowane do Twojego stylu życia, samopoczucia i czynników zdrowotnych.
                    </p>
                    <p>Nasi dietetycy i diabetolodzy doradzą Ci jak się odżywiać. Z kolei nasi interniści, po przeprowadzeniu z Tobą wywiadu lekarskiego skierują Cię na badania profilaktyczne dopasowane do Twojego stylu życia, wieku, płci oraz potencjalnych dolegliwości. Po ich wykonaniu dostaniesz ich podsumowanie i zalecenia na przyszłość.</p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/prof_s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="Laboratorium" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">
                <div class="col-xs-8">
                    <h2>Laboratorium</h2>
                    <p class="lead">
                        W naszych centrach diagnostyki obrazowej specjalizujemy się w wykonywaniu badań z zakresu tomografii komputerowej, rezonansu magnetycznego, mammografii, USG i RTG.
                    </p>
                    <p>
                        W placówkach Asklepios dysponujemy nowoczesnym sprzętem, a interpretacja badań jest przeprowadzana przez doświadczony zespół specjalistów radiologów, co zapewnia pacjentom wysoki poziom bezpieczeństwa.
                    </p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/lab_s.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="Rehabilitacja" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">
                <div class="col-xs-8">
                    <h2>Rehabilitacja</h2>
                    <p class="lead">
                        W Asklepios zapewniamy dostęp nie tylko do nowoczesnych metod diagnostyki czy konsultacji specjalistycznych, lecz także do zaawansowanych metod rehabilitacyjnych.
                    </p>
                    <p>
                        Wiemy, że rehabilitacja to dla pacjentów możliwość odzyskania jak największej sprawności i często szansa na samodzielne funkcjonowanie. Stworzyliśmy w Asklepios zespół doświadczonych specjalistów, od lat pracują oni ze sportowcami oraz z ludźmi, którzy po prostu chcą wrócić do sprawności po przebytych urazach.
                    </p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/fizjoterapia_s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="Stomatologia" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">
                <div class="col-xs-8">
                    <h2>Stomatologia</h2>
                    <p class="lead">
                        Świadczymy kompleksowe usługi stomatologiczne
                    </p>
                    <p>
                         Realizujemy pełen zakres usług na najwyższym poziomie. Wyróżniają nas ludzie i wieloletnie doświadczenie. Przez wszystkie lata naszej działalności udowodniliśmy, że umiemy leczyć i troszczyć się o naszych pacjentów.
                    </p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/stomatologia_s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="Radiologia" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">
                <div class="col-xs-8">
                    <h2>Radiologia</h2>
                    <p class="lead">
                        Diagnostyka obrazowa jest podstawą współczesnej medycyny.
                    </p>
                    <p>
                        Dzięki użyciu różnorodnych technik diagnostycznych mamy dziś możliwość wczesnego rozpoznania choroby lub sprecyzowania diagnozy.
                        Placówki grupy Asklepios wyposażone są w doskonałej jakości sprzęty diagnostyczne renomowanych producentów, a także wykwalifikowanych diagnostów.
                    </p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/radio3s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="Szpitale" class="row" style="scroll-margin-top: 50px">
        <div class="jumbotron">
            <div class="container">

                <div class="col-xs-8">
                    <h2>Szpitale</h2>
                    <p class="lead">
                        Asklepios posiada kilka szpitali ortopedycznych w największych miastach Polski.
                    </p>
                    <p>
                         Pacjenci są pod naszą opieką od momentu konsultacji wstępnej, przez nowoczesną diagnostykę obrazową, operację, aż po rehabilitację. Wypracowany przez nas standard leczenia i wybitni specjaliści gwarantują bezpieczeństwo oraz pełen komfort pacjentów.
                    </p>
                </div>
                <div class="col-xs-4 justify-content-center">
                    <img class="img-responsive" style="display: block" src="~/img/hospital_s.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
