@model Asklepios.Web.Areas.HomeArea.Models.LocationsViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Lista Placówek</h2>


<div class="container"  style="margin-top:120px">

        @if(Model.Locations.Count > 0)
        {
            @foreach (var loc in Model.Locations)
            {
                <partial name="_Location" model="loc" />
        }

    }
    else
    {
       <div>Brak odziałów</div>;
    }

    }      
</div>
