@model Asklepios.Web.Areas.HomeArea.Models.LogInViewModel

<h1>@ViewData["Title"]</h1>
<div class="container modal-dialog-centered" style="margin-top:120px;">

    <div class="jumbotron align-items-lg-stretch" style="padding:20px;">
        @*<div class="container">*@
        <div class="row">
            <div class="col-md-6 col-md-offset-3 contact-form">
                <h2>
                    <label>Zaloguj się do modułu pacjenta</label>
                </h2>

                <form class="form" asp-action="LogInPatient" method="post">
                    <input class="email" type="email" placeholder="Twój adres e-mail" asp-for="UserName">
                    <input class="person-detail" type="password" placeholder="Hasło" asp-for="Password">
                    <input class="submit-btn" type="submit" value="Wyślij">
                </form>

            </div>

        </div>
    </div>
    <div class="jumbotron" style="padding:20px">
        @*<div class="container">*@

        <div class="row">
            <div class="col-md-6 col-md-offset-3 contact-form">
                <h2>
                    <label>Zaloguj się do modułu pracownika</label>
                </h2>

                <form class="form" asp-action="LogInEmployee" method="post">
                    <input class="email" type="email" placeholder="Twój adres e-mail" asp-for="UserName">
                    <input class="person-detail" type="password" placeholder="Hasło" asp-for="Password">
                    <p>
                        Wybierz moduł:

                        @*@Html.DropDownListFor(a => a.WorkerModuleType, new[]
                        {
                            new SelectListItem() {Text = "Moduł pracownika obsługi klienta"},
                            new SelectListItem() {Text = "Moduł administracyjny" },
                            new SelectListItem() {Text = "Moduł pracownika medycznego" }
                        }
                        )*@
                        <select asp-for="WorkerModuleType" asp-items="Html.GetEnumSelectList<Asklepios.Core.Enums.WorkerModuleType>()"></select>
                        @*<select asp-for="@Model.WorkerModuleType" asp-items="Html.GetEnumSelectList<Asklepios.Core.Enums.WorkerModuleType>()"></select>*@

                    </p>
                    <input class="submit-btn" type="submit" value="Wyślij">

                </form>
            </div>
        </div>
    </div>
</div>