@model Asklepios.Web.Areas.CustomerServiceArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Nadchodzące wizyty
</h1>

@{
    List<Visit> plannedVisits = Model.GetCommingVisits();
    if (plannedVisits.Count > 0)
    {
        @for (int i = 0; i < plannedVisits.Count; i++)
        {
            Visit visit = plannedVisits[i];
            <partial name="_PlannedVisit" model="visit" />

        }
    }
    else
    {
        <h3>Brak zaplanowanych wizyt...</h3>
        <a asp-area="CustomerServiceArea" asp-controller="CustomerService" asp-action="BookVisit" class="btn btn-primary btn-icon-split mt-3">
            <span class="icon text-white-50">
                <i class="fas fa-book"></i>
            </span>
            <span class="text">Zarezerwuj wizytę</span>
        </a>
    }
}
