@model Asklepios.Web.Areas.CustomerServiceArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}


@if (Model.SelectedPatient.MedicalReferrals != null)
{
    <h1 style="text-align:center">Recepty</h1>

    @foreach (var prescription in Model.SelectedPatient.Prescriptions)
    {

        <partial name="_Prescription" model="prescription" />
    }
}
else
{
    <h1>Brak wystawionych recept</h1>

}
