@model Asklepios.Web.Areas.CustomerServiceArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
    List<Prescription> prescriptions = Model.Prescriptions;
}


@if (prescriptions != null)
{
    <h1 style="text-align:center">Recepty</h1>

    @foreach (var prescription in prescriptions)
    {

        <partial name="_Prescription" model="prescription" />
    }
}
else
{
    <h1>Brak wystawionych recept</h1>

}
