@model Asklepios.Web.Areas.CustomerServiceArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
    List<MedicalReferral> referrals = Model.MedicalReferrals;
}


@if (referrals?.Count>0)
{
    
    <h1 style="text-align:center">Skierowania</h1>

    @foreach (var referral in referrals)
    {

        <partial name="_MedicalReferral" model="referral" />
    }
}
else
{
    <h1>Brak wystawionych skierowań</h1>

}
