@model Asklepios.Web.Areas.CustomerServiceArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}


@if (Model.SelectedPatient.MedicalReferrals?.Count>0)
{
    <h1 style="text-align:center">Skierowania</h1>

    @foreach (var referrals in Model.SelectedPatient.MedicalReferrals)
    {

        <partial name="_MedicalReferral" model="referrals" />
    }
}
else
{
    <h1>Brak wystawionych skierowań</h1>

}
