@model Asklepios.Web.Areas.CustomerServiceArea.Models.RescheduleVisitViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Przełóż wizytę
</h1>

<form asp-action="RescheduleVisit" method="post">
    @{
        SelectList workersItems = new SelectList(Model.GetMedicalWorkers, "Id", "FullProffesionalName");
        SelectList locationItems = new SelectList(Model.GetLocations, "Id", "Name");
        SelectList categoriesList = new SelectList(Model.GetVisitCategories, "Id", "CategoryName");
        //SelectList servicesList = new SelectList(Model.GetMedicalServices, "Id", "Name");
        IEnumerable<MedicalService> services = Model.MedicalServices.Where(c => c.Id == long.Parse(Model.SelectedPrimaryServiceId)).ToList();

        SelectList servicesList = new SelectList(services, "Id", "Name");

    }
    <select class="form-control  mb-1" asp-for="SelectedLocationId" asp-items="locationItems">
        <option value="0">Wybierz oddział</option>
    </select>

    <select class="form-control  mb-1" asp-for="SelectedVisitCategoryId" asp-items="categoriesList">
        <option value="0">Wybierz kategorię wizyty</option>
    </select>
    
    <select class="form-control mb-1" asp-for="SelectedPrimaryServiceId" asp-items="servicesList">
    </select>

    <select class="form-control mb-1" asp-for="SelectedWorkerId" asp-items="workersItems">
        <option value="0">Wybierz lekarza</option>
    </select>
    <textarea asp-for="RescheduledVisitId" style="visibility:collapse; height:0px">@Model.RescheduledVisitId</textarea>

    <div class="d-flex flex-column">
        <button class=" btn btn-secondary   mb-1">Filtruj!</button>
    </div>
    @*<select asp-for="@Model.SearchOptions.SelectedDoctor" asp-items="@Model.GetMedicalWorkers.ToList()" class="form-control">
            <option>Select Role</option>
        </select>
        @Html.DropDownList("Title", Model.Select(m => new SelectListItem() { Text = m., Value = m.Title }).ToList(), "Select")*@
</form>


@{
    List<Visit> visits = Model.FilteredVisits;
    if (visits.Count > 0)
    {
        @for (int i = 0; i < visits.Count; i++)
        {
            Visit visit = visits[i];
            Asklepios.Web.Areas.CustomerServiceArea.Models.RescheduleVisitSelectNewViewModel visitModel = new Asklepios.Web.Areas.CustomerServiceArea.Models.RescheduleVisitSelectNewViewModel();
            visitModel.RescheduledVisitId = Model.RescheduledVisitId;
            visitModel.SelectedNewVisitId = visit.Id;
            visitModel.SelectedNewVisit = visit;

            <partial name="_AvailableVisitReschedule" model="visitModel" />
        }
    }
    else
    {
        <h3 style="text-align:center">Brak dostępnych wizyt przy założonych kryteriach...</h3>
        @*<a asp-area="PatientArea" asp-controller="Patient" asp-action="BookVisit" class="btn btn-primary btn-icon-split mt-3">
                <span class="icon text-white-50">
                    <i class="fas fa-book"></i>
                </span>
                <span class="text">Zarezerwuj wizytę</span>
            </a>*@
    }
}
