@model Asklepios.Web.Areas.AdministrativeArea.Models.PackageItemsManageViewModel
@{
    IEnumerable<SelectListItem>
        removeMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Remove).ToList();
    IEnumerable<SelectListItem>
        readMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Read).ToList();
    IEnumerable<SelectListItem>
        editMode = Html.GetEnumSelectListWithOneValue(Asklepios.Web.Areas.AdministrativeArea.Models.ViewMode.Edit).ToList();
    if (Model.SelectedPackage != null)
    {
        Model.SelectedPackageId = Model.SelectedPackage.Id;
    }
}
<div class="d-flex jumbotron w-100 mx-auto" style="padding:20px;align-content:center;">
    <div class="d-flex flex-row w-100 justify-content-around">
        <div class="d-flex flex-column justify-content-center align-items-center center-block mb-2 flex-grow-1" style="max-width:600px">
            <h2 style="text-align:center;">Pakiet @Model.SelectedPackage.Name</h2>
            <h4 style="text-align:center;">@Model.SelectedPackage.Description</h4>
        </div>

        <div class="d-flex flex-column w-25 align-self-center" style="width:400px">

            <form class="d-flex form  flex-column" asp-action="MedicalPackageItemEdit" method="post">
                <div>
                    <input asp-for="SelectedPackage.Id" hidden />
                    @*<input asp-for="SelectedPackageId" hidden />*@

                    <select asp-for="ViewMode" asp-items="readMode" hidden></select>
                </div>
                <div class="form-group d-flex flex-column">
                    <button type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-pen-square"></i>
                        </span>
                        <span class="text" style="float: left">Edytuj</span>
                    </button>
                </div>

            </form>
            <form class="d-flex form my-0 flex-column" asp-action="MedicalPackageItemRemove" method="post">
                <div class="form-group d-flex flex-column">
                    <input asp-for="SelectedPackageId" hidden />
                    <input asp-for="SelectedPackage.Id" hidden />

                    <select asp-for="ViewMode" asp-items="removeMode" hidden></select>
                </div>
                <div class="form-group d-flex flex-column">
                    <button type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-minus-square"></i>
                        </span>
                        <span class="text" style="float: left">Usuń</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>