@model Asklepios.Web.Areas.AdministrativeArea.Models.PackageItemsManageViewModel

<div style="height:0px">
    <form class="form my-2" asp-action="MedicalPackageItemsManage" method="post">
        <div class="form-group d-flex flex-column">
            <input asp-for="SelectedPackageId" type="hidden" />
            <button id="btnSubmit" type="submit" class="btn btn-primary w-100 mt-2"></button>
        </div>
    </form>
</div>
<script>
    document.getElementById('btnSubmit').click();
</script>
