@model Asklepios.Web.Areas.AdministrativeArea.Models.MedicalWorkersManageViewModel
<div style="height:0px">
    <form class="form my-2" asp-action="MedicalWorkerItemsManage" >
            <button id="btnSubmit" type="submit" class="btn btn-primary w-100 mt-2"></button>
    </form>
    @*<input asp-for="SelectedLocationId"/>*@
</div>

<script>
        document.getElementById('btnSubmit').click();
</script>
