@model Asklepios.Web.Areas.AdministrativeArea.Models.PatientAddViewModel

@{ 
    SelectList medicalPackagesList = new SelectList(Model.MedicalPackages, "Id", "Name");

}
    <div class="d-flex flex-column">
        <form class="form my-2" asp-action="PatientAdd" method="post">
            <div class="form-group d-flex flex-column">

                <label asp-for="Patient.User.UserName" class="control-label"></label>
                <input asp-for="Patient.User.UserName" class="form-control mb-2">
                <span asp-validation-for="Patient.User.UserName" class="text-danger"></span>

                <label asp-for="Patient.User.Password" class="control-label"></label>
                <input asp-for="Patient.User.Password" class="form-control mb-2">
                <span asp-validation-for="Patient.User.Password" class="text-danger"></span>

                <label asp-for="Patient.Person.Name" class="control-label"></label>
                <input asp-for="Patient.Person.Name" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.Name" class="text-danger"></span>

                <label asp-for="Patient.Person.Surname" class="control-label"></label>
                <input asp-for="Patient.Person.Surname" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.Surname" class="text-danger"></span>

                <label asp-for="Patient.Person.DefaultAglomeration" class="control-label"></label>
                <select asp-for="Patient.Person.DefaultAglomeration" asp-items="Html.GetEnumSelectList<Asklepios.Core.Enums.Aglomeration>()"></select>
                <span asp-validation-for="Patient.Person.DefaultAglomeration" class="text-danger"></span>

                <label asp-for="Patient.Person.BirthDate" class="control-label"></label>
                <input asp-for="Patient.Person.BirthDate" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.BirthDate" class="text-danger"></span>

                <label asp-for="Patient.Person.HasPolishCitizenship" class="control-label"></label>
                <checkbox asp-for="Patient.Person.HasPolishCitizenship"></checkbox>
                <span asp-validation-for="Patient.Person.HasPolishCitizenship" class="text-danger"></span>

                <label asp-for="Patient.Person.PESEL" class="control-label"></label>
                <input asp-for="Patient.Person.PESEL" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.PESEL" class="text-danger"></span>


                <label asp-for="Patient.Person.PassportNumber" class="control-label"></label>
                <input asp-for="Patient.Person.PassportNumber" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.PassportNumber" class="text-danger"></span>

                <label asp-for="Patient.Person.PassportCode" class="control-label"></label>
                <input asp-for="Patient.Person.PassportCode" class="form-control mb-2">
                <span asp-validation-for="Patient.Person.PassportCode" class="text-danger"></span>



                    <label asp-for="Patient.Person.ImageFile" class="control-label"></label>
                    <input asp-for="Patient.Person.ImageFile" accept="image/*" />
                    <span asp-validation-for="Patient.Person.ImageFile" class="text-danger"></span>

                    <label asp-for="Patient.MedicalPackage" class="control-label"></label>
                    <select class="form-control  mb-2" asp-for="Patient.MedicalPackage" asp-items="medicalPackagesList" >
                        <option value="">Wybierz pokój</option>
                    </select>
                    <span asp-validation-for="Patient.MedicalPackage" class="text-danger"></span>


                <button id="btnSubmit" type="submit" class="btn btn-primary w-100 mt-2">Dodaj</button>

            </div>
        </form>
    </div>