@model Asklepios.Web.Areas.AdministrativeArea.Models.RoomItemsManageViewModel
@{
    SelectList locations = new SelectList(Model.SortedLocations, "Id", "Name");
}
@{
    if (TempData.ContainsKey("successMessage"))
    {
        <div class="messages" id="MessageSpan" style="margin-top: 10px; text-align: center ">
            <p class="alert alert-success">
                @TempData["successMessage"].ToString()
            </p>
        </div>

    }
    if (TempData.ContainsKey("errorMessage"))
    {
        <div class="messages" id="MessageSpan" style="margin-top: 10px; text-align: center ">
            <p class="alert alert-success">
                @TempData["errorMessage"].ToString()

            </p>
        </div>

    }
}


<form class="form my-2" asp-action="RoomItemAdd" method="post" enctype="multipart/form-data">
    <div class="form-group d-flex flex-column">
        @*<span id="MessageSpan" asp-validation-for="User.UserName" class="text-danger"></span>*@

        <label asp-for="NewRoom.Name" class="control-label"></label>
        <input asp-for="NewRoom.Name" class="form-control mb-2">
        <span asp-validation-for="NewRoom.Name" class="text-danger"></span>

        <label asp-for="NewRoom.FloorNumber" class="control-label"></label>
        <input asp-for="NewRoom.FloorNumber" class="form-control mb-2">
        <span asp-validation-for="NewRoom.FloorNumber" class="text-danger"></span>

        <label asp-for="NewRoom.MedicalRoomType" class="control-label"></label>
        <select class="form-control  mb-2" asp-for="NewRoom.MedicalRoomType" asp-items="Html.GetEnumSelectList<Asklepios.Core.Enums.MedicalRoomType>()">
            <option value="">Wybierz typ gabinetu</option>
        </select>
        <span asp-validation-for="NewRoom.MedicalRoomType" class="text-danger"></span>

        <label asp-for="NewRoom.LocationId" class="control-label"></label>
        <select class="form-control  mb-2" asp-for="NewRoom.LocationId" asp-items="locations">
            <option value="-1">Wybierz placówkę</option>
        </select>
        <span asp-validation-for="NewRoom.LocationId" class="text-danger"></span>

        <div class="form-group d-flex flex-column mt-2">
            <button id="btnAdd" type="submit" class="btn btn-primary btn-icon-split d-flex">
                <span class="icon text-white-50 left" style="text-align:left;float:left">
                    <i class="fas fa-plus-square"></i>
                </span>
                <span class="text" style="float: left">Dodaj</span>
            </button>
        </div>
    </div>
</form>
<script>
    $('#MessageSpan').delay(5000).fadeOut(300);
</script>