@model Asklepios.Web.Areas.AdministrativeArea.Models.RoomItemsManageViewModel

@{
    ViewData["Title"] = "View";
    SelectList locations = new SelectList(Model.SortedLocations.OrderBy(c=>c.Name), "Id", "Name");

}

<h2 style="text-align:center">Gabinety medyczne</h2>
@{

    if (TempData.ContainsKey("successMessage"))

    {
        <div class="messages" id="MessageSpan" style="margin-top: 10px; text-align: center ">
            <p class="alert alert-success">
                @*@Model.SuccessMessage*@
                @TempData["successMessage"].ToString()
            </p>
        </div>

    }
    //if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    if (TempData.ContainsKey("errorMessage"))
    {
        <div class="messages" id="MessageSpan" style="margin-top: 10px; text-align: center ">
            <p class="alert alert-success">
                @*@Model.ErrorMessage*@
                @TempData["errorMessage"].ToString()
            </p>
        </div>

    }
    @*<partial name="_RoomItemAdd" model="Model" />*@

}


<form class="form my-2" asp-action="RoomItemsManage" method="post" >
    <div class="form-group d-flex flex-column">
        <label asp-for="SelectedLocationId" class="control-label"></label>
        <select class="form-control  mb-2" asp-for="SelectedLocationId" asp-items="locations" onchange="Refresh();">
            <option value="-1">Wybierz placówkę medyczną</option>
@*            <option value="-2">Nieprzydzielony</option>
*@
        </select>
        <span asp-validation-for="SelectedLocationId" class="text-danger"></span>

        @*<input asp-for="SelectedLocationId"  />*@
        @*<input asp-for="NewRoom.Name" hidden></input>
        <input asp-for="NewRoom.FloorNumber" hidden></input>
        <input asp-for="NewRoom.MedicalRoomType" hidden></input>
        <input asp-for="NewRoom.FloorNumber" hidden></input>
        <input asp-for="NewRoom.LocationId" hidden></input>*@
        @*<div class="form-group d-flex flex-column">
            <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex" hidden>
                <span class="icon text-white-50 left" style="text-align:left;float:left">
                    <i class="fas fa-search"></i>
                </span>
                <span class="text" style="float: left">Wyszukaj</span>
            </button>
        </div>*@

        <button id="btnSubmit" type="submit" class="btn btn-primary w-100 mt-2" hidden>Wyszukaj</button>
    </div>
</form>

@foreach (MedicalRoom room in Model.FilteredRooms)
{
    Model.SelectedRoom = room;
    <partial name="_MedicalRoom" model="Model" />
}
<script>
    $('#MessageSpan').delay(5000).fadeOut(300);
    function Refresh()
    {
        document.getElementById('btnSubmit').click();
    }

</script>
