@using Asklepios.Web.Enums
@model Asklepios.Web.Areas.AdministrativeArea.Models.ScheduleManageViewModel
@{
    SelectList workersItems = new SelectList(Model.MedicalWorkers.OrderBy(c => c.FullProffesionalName), "Id", "FullProffesionalName");
    SelectList locationItems = new SelectList(Model.Locations.OrderBy(c => c.Name), "Id", "Name");
    SelectList categoriesList = new SelectList(Model.VisitCategories.OrderBy(c => c.CategoryName), "Id", "CategoryName");
    SelectList roomsList = null;

    if (long.TryParse(Model.SelectedLocationId, out long lid))
    {
        if (lid > 0)
        {
            roomsList = new SelectList(Model.MedicalRooms.OrderBy(c => c.FloorNumber).ThenBy(d => d.Name), "Id", "LongDescription");
        }
    }

    SelectList servicesList = new SelectList(Model.PrimaryMedicalServices.OrderBy(f => f.Name), "Id", "Name");

}

<div class="d-flex flex-column">

    <partial name="_ViewMessage" model="Model.ViewMessage" />

    <h2 style="text-align:center; margin-bottom:20px">Lista wizyt</h2>


    <form class="form my-2" asp-action="ScheduleItemsManage" method="post">
        <div class="form-group d-flex flex-column">
            <label asp-for="SelectedLocationId" class="control-label"></label>
            <select class="form-control  mb-2" asp-for="SelectedLocationId" asp-items="locationItems" onchange="document.getElementById('btnSubmit').click();">
                <option value="">Wybierz oddział</option>
            </select>
            <span asp-validation-for="SelectedLocationId" class="text-danger"></span>
            <label asp-for="SelectedMedicalRoomId" class="control-label"></label>
            <select class="form-control  mb-2" asp-for="SelectedMedicalRoomId" asp-items="roomsList" onchange="document.getElementById('btnSubmit').click();">
                <option value="">Wybierz pokój</option>
            </select>
            <span asp-validation-for="SelectedMedicalRoomId" class="text-danger"></span>

            <label asp-for="SelectedVisitCategoryId" class="control-label"></label>
            <select class="form-control  mb-2" asp-for="SelectedVisitCategoryId" asp-items="categoriesList" onchange="document.getElementById('btnSubmit').click();">
                <option value="">Wybierz kategorię</option>
            </select>
            <span asp-validation-for="SelectedVisitCategoryId" class="text-danger"></span>

            <label asp-for="SelectedPrimaryServiceId" class="control-label"></label>
            <select class="form-control  mb-2" asp-for="SelectedPrimaryServiceId" asp-items="servicesList" onchange="document.getElementById('btnSubmit').click();">
                <option value="">Wybierz usługę</option>
            </select>
            <span asp-validation-for="SelectedPrimaryServiceId" class="text-danger"></span>

            <label asp-for="SelectedMedicalWorkerId" class="control-label"></label>
            <select class="form-control  mb-2" asp-for="SelectedMedicalWorkerId" asp-items="workersItems" onchange="document.getElementById('btnSubmit').click();">
                <option value="">Wybierz pracownika</option>
            </select>
            <span asp-validation-for="SelectedMedicalWorkerId" class="text-danger"></span>

            <label asp-for="IsBooked" class="control-label"></label>
            <select class="form-control" asp-for="IsBooked" onchange="document.getElementById('btnSubmit').click();">
                <option value="null">Zarezerwowana?</option>
                <option value="true">Tak</option>
                <option value="false">Nie</option>
            </select>


            @if (Model.SelectedMedicalWorker != null)
            {
                <partial name="_MedicalWorker" model="Model.SelectedMedicalWorker" />
            }

            <label asp-for="VisitsDateFrom" class="control-label"></label>
            <input asp-for="VisitsDateFrom" class="form-control mb-2">
            <span asp-validation-for="VisitsDateFrom" class="text-danger"></span>
            <label asp-for="VisitsDateTo" class="control-label"></label>
            <input asp-for="VisitsDateTo" class="form-control mb-2">
            <span asp-validation-for="VisitsDateTo" class="text-danger"></span>

            <label asp-for="CurrentPageNum" class="control-label"></label>

            <div class="d-flex">
                <div class="form-group d-flex flex-column ">
                    <button onclick="MovetToPreviousPage()" class="btn btn-primary btn-icon-split d-flex ">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </button>
                </div>

                <select class="form-control mx-2" asp-for="CurrentPageNum" asp-items="ViewBag.PagesList" onchange="document.getElementById('btnSubmit').click();" onselect="Refresh()">
                </select>

                <div class="form-group d-flex flex-column ">
                    <button onclick="MoveToNextPage()" class="btn btn-primary btn-icon-split d-flex">
                        <span class="icon text-white-50 left" style="text-align:left;float:left">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </div>

            </div>
            <div class="form-group d-flex flex-column mt-2">
                <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
                    <span class="icon text-white-50 left" style="text-align:left;float:left">
                        <i class="fas fa-search"></i>
                    </span>
                    <span class="text" style="float: left">Wyszukaj</span>
                </button>
            </div>
        </div>
    </form>
    @{
        if (Model.FilteredVisits.Count() > 0)
        {
            <h3 class="mx-auto">Znaleziono @Model.FilteredVisits.Count() wizyt</h3>
            if (Model.FilteredVisits.Count() <= 50 )
            {
                List<long> ids = Model.FilteredVisits.Select(c => c.Id).ToList();
                Model.VisitsToRemove = new List<long>();
                Model.VisitsToRemove.AddRange(ids);

                <form class="form my-2" asp-action="RemoveSelectedVisits" method="post">
                    <div class="form-group d-flex flex-column">

                        @for (int i = 0; i < Model.VisitsToRemove.Count(); i++)
                        {
                            @Html.HiddenFor(m =>  @Model.VisitsToRemove[i],@Model.VisitsToRemove[i])
                            ;
                        }

                        <input asp-for="SelectedLocationId" type="hidden">
                        <input asp-for="SelectedMedicalRoomId" type="hidden">
                        <input asp-for="SelectedMedicalWorkerId" type="hidden">
                        <input asp-for="SelectedPrimaryServiceId" type="hidden">
                        <input asp-for="SelectedVisitCategoryId" type="hidden">
                        <input asp-for="VisitsDateFrom" type="hidden">
                        <input asp-for="VisitsDateTo" type="hidden">
                        <div class="form-group d-flex flex-column">
                            <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
                                <span class="icon text-white-50 left" style="text-align:left;float:left">
                                    <i class="fas fa-search-minus"></i>
                                </span>
                                <span class="text" style="float: left">Usuń wszystkie znalezione wizyty!</span>
                            </button>
                            <span>*Wizyty, które nie są zarezerwowane zostaną trwale usunięte. Wizyty, które zostały zarezerwowane zostaną odwołane i zdezaktywowane, a pacjenci dostaną powiadomienie o odwołaniu. </span>
                        </div>

                    </div>
                </form>

            }
        }
        List<Visit> visits = Model.PageVisits;

        if (visits.Count == 0)
        {
            <h3 style="text-align:center">Brak dostępnych wizyt przy założonych kryteriach...</h3>
        }

        for (int i = 0; i < visits.Count; i++)
        {
            Visit visit = visits[i];
            Asklepios.Web.Areas.AdministrativeArea.Models.VisitViewModel model = new Asklepios.Web.Areas.AdministrativeArea.Models.VisitViewModel();
            (model as Asklepios.Web.Areas.AdministrativeArea.Interfaces.ISearchVisit).SetSearchOptions(Model);
            model.Visit = visit;
            <partial name="_ScheduleItem" model="model" />
        }
    }
</div>
<script>
    function Refresh() {
        document.getElementById('btnSubmit').click();
    }
    function MoveToNextPage() {
        var pageNum = document.getElementById('CurrentPageNum').selectedIndex;

        var max = -1;
        var ddl = document.getElementById('CurrentPageNum');
        for (i = 0; i < ddl.options.length; i++) {
            if (max < ddl.options[i].index) {
                max = ddl.options[i].index;
            }
        }
        if (pageNum < max) {
            document.getElementById('CurrentPageNum').selectedIndex  = pageNum + 1;
        }
    }
    function MovetToPreviousPage(){
        var pageNum = document.getElementById('CurrentPageNum').selectedIndex;
        if (pageNum - 1 > -1) {
            document.getElementById('CurrentPageNum').selectedIndex  = pageNum - 1;
        }
    }

</script>