@model Asklepios.Core.Models.IssuedMedicine

<div class="d-flex flex-column">
    <div>Nazwa: @Model.MedicineName</div>
    <div>Opakowanie: @Model.PackageSize </div>
    <div>Zniżka: @Model.PaymentDiscount%</div>
</div>