@model Asklepios.Core.MockModels.MedicineMock

<div class="d-flex flex-column">
    <div>Nazwa: @Model.MedicineName</div>
    <div>Opakowanie: @Model.PackageSize </div>
    <div>Odpłatność: @Model.PaymentDiscount%</div>
</div>