@model Asklepios.Web.Areas.PatientArea.Models.PatientViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Poprzednie konsultacje/badania
</h1>

@{
    List<Visit> historicalVisits = Model.GetHistoricalVisits(10);

    if (historicalVisits.Count > 0)
    {

        for (int i = 0; i < historicalVisits.Count; i++)
        {
            Visit visit = historicalVisits[i];
            Asklepios.Web.Areas.PatientArea.Models.VisitViewModel model = new Asklepios.Web.Areas.PatientArea.Models.VisitViewModel();
            model.Visit = visit;
            <partial name="_HistoricalVisit" model="model" />

        }
    }
    else
    {
        <h3>Nie byłeś jeszcze na żadnej wizycie u nas...</h3>
        <a asp-area="PatientArea" asp-controller="Patient" asp-action="BookVisit" class="btn btn-primary btn-icon-split mt-3">
            <span class="icon text-white-50">
                <i class="fas fa-book"></i>
            </span>
            <span class="text">Zarezerwuj wizytę</span>
        </a>
    }


}
