@model Asklepios.Web.Areas.MedicalWorkerArea.Models.HistoricalVisitsViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Poprzednie konsultacje/badania
</h1>
<form class="form my-2" asp-action="History" method="post">

    <label asp-for="SelectedDate" class="control-label"></label>
    <input asp-for="SelectedDate" class="form-control mb-2">
    <span asp-validation-for="SelectedDate" class="text-danger"></span>

    <div class="form-group d-flex flex-column mt-2">
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
            <span class="icon text-white-50 left" style="text-align:left;float:left">
                <i class="fas fa-search"></i>
            </span>
            <span class="text" style="float: left">Wyszukaj</span>
        </button>
    </div>
</form>
@{
    IEnumerable<IGrouping<DateTime, Visit>> historicalVisits = Model.HistoricalVisitsGrouped;

    if (historicalVisits.Count() > 0)
    {

        foreach (var item in historicalVisits)
        {

            <h4 style="text-align:center">
                @item.Key.Date.Date.ToString("d")
            </h4> //for (int i = 0; i < item.Count(); i++)
            foreach (Visit visit in item)
            {
                //Visit visit = item.  ;
                <partial name="_HistoricalVisit" model="visit" />
            }
            {

            }
        }

    }
    else
    {
        if (Model.SelectedDate == null)
        {
            <h3>Nie przeprowadziłeś jeszcze żadnej wizyty...</h3>
        }
        else
        {
            if (Model.SelectedDate.Value.Date > DateTime.Now.Date)
            {
                <h3>Została wybrana przyszła data...</h3>
            }
            else if (Model.SelectedDate.Value.Date == DateTime.Now.Date)
            {
                <h3>Została wybrana dzisiejsza data. Dzisiejsze wizyty możesz sprawdzić na swoim pulpicie.</h3>
            }
            else
            {
                <h3>Brak przeprowadzonych wizyt w wybranym dniu...</h3>
            }

        }
    }
}
