@model Asklepios.Web.Areas.MedicalWorkerArea.Models.ReviewsViewModel

<h1 style="text-align:center">
    Recenzje
</h1>

@foreach (var loc in Model.MedicalWorker.VisitReviews)
{
    <partial name="_Location" model="loc" />
}
