@model Asklepios.Web.Areas.MedicalWorkerArea.Models.ReviewsViewModel

<h1 style="text-align:center">
    Recenzje
</h1>
@if (Model.MedicalWorker.VisitReviews.Count == 0)
{
    <h3>Brak wystawionych recenzji...</h3>
}
else
{
    @foreach (var loc in Model.MedicalWorker.VisitReviews)
    {
        <partial name="_MedicalReview" model="loc" />
    }

}
