@model Asklepios.Web.Areas.MedicalWorkerArea.Models.ScheduleViewModel
@{
    ViewData["Title"] = "View";
}

<h1 style="text-align:center">
    Nadchodzące konsultacje/badania
</h1>
<form class="form my-2" asp-action="Schedule" method="post">

    <label asp-for="SelectedDate" class="control-label"></label>
    <input asp-for="SelectedDate" class="form-control mb-2">
    <span asp-validation-for="SelectedDate" class="text-danger"></span>

    <div class="form-group d-flex flex-column mt-2">
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-icon-split d-flex mt-3">
            <span class="icon text-white-50 left" style="text-align:left;float:left">
                <i class="fas fa-search"></i>
            </span>
            <span class="text" style="float: left">Wyszukaj</span>
        </button>
    </div>
</form>

@{
    IEnumerable<IGrouping<DateTime, Visit>> futureVisits = Model.ForthcomingVisits;

    if (futureVisits?.Count() > 0)
    {

        for (int i = 0; i < futureVisits.Count(); i++)
        {
            IGrouping<DateTime, Visit> grouping = futureVisits.ElementAt(i);
            <h4 style="text-align:center" class="mb-2">
                @grouping.Key.Date.Date.ToString("d")
            </h4> //for (int i = 0; i < item.Count(); i++)

            foreach (var item in grouping)
            {
                Visit visit = item;
                Asklepios.Web.Areas.PatientArea.Models.VisitViewModel model = new Asklepios.Web.Areas.PatientArea.Models.VisitViewModel();
                model.Visit = visit;
                <partial name="_FutureVisit" model="visit" />

            }
        }
    }
    else
    {
        <h3>Brak zaplanowanych wizyt...</h3>
    }


}
